# app
/app/build
/app/node_modules
/app/package-lock.json
/app/yarn.lock
/app/npm-debug.log*
/app/yarn-debug.log*
/app/yarn-error.log*

# server
/server/node_modules
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
/server/package-lock.json
/server/yarn.lock

# idea
.idea

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
